@import "../../global.scss";

.contact{
    background-color: $mainColor;
    padding-top: 30vh;
    padding-bottom: 30vh;

    .frucht {
        display: flex;

        .image-wrapper {
            flex: 0.3;
            padding: 50px 50px 20px 50px;
            width: 100%;
            margin: 50px;
            width: 20vh;
            display: flex;
            align-items: center;

            img {
                width: 100%;

                /*@include for-phone-only {
                width: 20vh;
                }*/
            }
        }

        .text-wrapper {
            flex: 0.7;
            display: flex;
            align-items: center;

            h1 {
                font-weight: 300;
                font-size: 50px;
                
                @include for-phone-only {
                    font-size: 30px;
                }

            }
        }
    }
    

    .wrapper {
        padding: 50px;
        width: 100%;
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
   
        h1 {
            font-weight: 300;
            font-size: 50px;
        

        @include for-phone-only {
            font-size: 20px;
        }
    }
    @include for-phone-only {
        padding: 10px;
        width: 100%;
        margin: 0px;
    }
    }
}