@import "../../global.scss";

.app {
    a {
        text-decoration: none;
    }

    h5 {
        color: $secondaryColor;
    }

    a:hover {
        color:#9d9c9c;
        text-decoration: underline;
    }

    h5:hover {
        color:#9d9c9c;
    }
    
    a:active {
        color: $secondaryColor;
    }

    h5:active {
        color: $secondaryColor;
    }
}